src/main/app/emailregister.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jira="http://www.mulesoft.org/schema/mule/jira" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/current/mule-jira.xsd">
    <jira:config name="Jira" connectionUser="F2517929" connectionPassword="xh!1XHM456" connectionAddress="https://portal.zystems.net/jira/rpc/soap/jirasoapservice-v2" restJiraUrl="https://portal.zystems.net/jira/rest/api/2" doc:name="Jira">
        <jira:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </jira:config>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>
    <flow name="emailregisterFlow1" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="reg.png" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties['http.query.params']['id']]" doc:name="Set Payload"/>
        <jira:create-issue config-ref="Jira" summary="#[payload]" description="#[payload]" project="NYT" type="3" connectionUser="" connectionPassword="" connectionAddress="https://portal.zystems.net/jira/rpc/soap/jirasoapservice-v2" restJiraUrl="https://portal.zystems.net/jira/rest/api/2" doc:name="Jira"/> 
        <set-payload value="#[Thread.currentThread().getContextClassLoader().getResourceAsStream('pixel.png')]" doc:name="Set Payload"/>
    </flow>
</mule>
